

.creat-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  justify-content: center;
  align-items: center; 
 
}
.signupSection {
  background-color: none;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width:60%;
  text-align: center;
  color: white;
  grid-column:2;
}

.info {
    padding-top: 30px;
    margin-bottom: 130px;
 
  p {
    font-size: 18px;
    color: blue;
  }
  .icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgb(28, 215, 215);
  }
}

.signupForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 70%;
  background:rgb(52, 75, 90);
  transition: .2s;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-bottom: 20%;
  bottom: 100px;
  margin-top:"8%";
  position: relative;
  margin-top: 30%;

}

.inputFields {
  margin: 15px ;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 15em;
  border: 1px solid rgb(17, 240, 240);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(186, 194, 231, 0.2);
  color: rgb(196, 44, 199);
  outline: none;
  top: 0;
}

.noBullet {
  list-style-type: none;
  padding: 0;

}

#join-btn {
  width:auto;
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin:30px 60px ;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  margin-right: 0px;
  position: absolute;
  left: 27%;
}

